@font-face{
  font-family: Roboto-Black;
  src: url(../font/Roboto-Black.ttf);
}
@font-face{
  font-family: Roboto;
  src: url(../font/Roboto.ttf);
}
@font-face{
  font-family: Roboto-Condensed;
  src: url(../font/Roboto-Condensed.ttf);
}
*{ 
	border:none;
	list-style:none;
	margin:0;
	padding:0;
}

body{
	overflow-x:hidden !important;
  margin: 0 auto !important;
  max-width: 960px !important;
  padding:0px !important;
  height: auto !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500px !important;
  font-size: 1rem !important;
  background-color: #FAFAFA !important;
}
