@font-face{
  font-family: Assistant-Bold;
  src: url(../font/Assistant-Bold.ttf);
}
@font-face{
  font-family: Assistant-ExtraBold;
  src: url(../font/Assistant-ExtraBold.ttf);
}
@font-face{
  font-family: Assistant-ExtraLight;
  src: url(../font/Assistant-ExtraLight.ttf);
}

@font-face{
  font-family: Assistant-Light;
  src: url(../font/Assistant-Light.ttf);
}

@font-face{
  font-family: Assistant-Regular;
  src: url(../font/Assistant-Regular.ttf);
}

@font-face{
  font-family: Assistant-SemiBold;
  src: url(../font/Assistant-SemiBold.ttf);
}

@font-face{
  font-family: Lora-Bold;
  src: url(../font/Lora-Bold.ttf);
}

@font-face{
  font-family: Lora-BoldItalic;
  src: url(../font/Lora-BoldItalic.ttf);
}

@font-face{
  font-family: Lora-Italic;
  src: url(../font/Lora-Italic.ttf);
}

@font-face{
  font-family: Lora-Regular;
  src: url(../font/Lora-Regular.ttf);
}

*{
  margin:0px;
  padding:0px;
}

body{
  background-color: #000000;
  color:white;
}

header, nav, main, footer{
}

a{
  text-decoration:none;
  color:white;
}
a:hover, a:visited, a:link, a:active {
  text-decoration:none;
  color:white;
}

section {
}

#iconAlign{

}

#officeInfo{
  margin: 0 auto;
  align-items:center;
  font-size: 0.8rem;
  font-family: Assistant-Light;
}

header{
  margin: 0 auto;
  padding-top: 1%;
}

#logoImg{
  width: 18%;
}

#home{
  background-image: url(../img/fondo_home.jpg);
  margin:0 auto;
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.alignCenter{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#homeText{
  padding-top: 7%;
  font-family: Lora-Regular;
}

#homeTextTitle{
  font-size:2.5rem;
}

#homeTextDetail{
  font-size: 1.2rem;
  font-family: Assistant-Light;
  padding:1%;
}

#homeContactButton{
  font-size: 1.3rem;
  font-family: Assistant-ExtraBold;
  padding: 1%;
  margin-top: 3%;
  color: #26607a;
  margin-bottom: 10%;
  background-color: white;
  border-style: outset;
  border-color: buttonface;
  border-width: 2px;
}

#about{
  background-image: url(../img/quienes_somos.jpg);
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.services{
  background-color: black;
  /* margin: 10%; */
  font-size: 0.9rem;
  font-family: Assistant-SemiBold;
  /* padding: 10px; */
  margin-top: 3%;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.servicesDetail{
  background-color: black;
  margin: 10%;
  font-size: 0.8rem;
  font-family: Assistant-SemiBold;
  /* padding: 10px; */
  /* margin-top: 3%; */
  margin-left: -7%;
  padding-top: 1% !important;
  padding: 10%;
  width: 121%;
}

.servicesDetailTwo{
  background-color: black;
  margin: 15%;
  font-size: 0.8rem;
  font-family: Assistant-SemiBold;
  /* padding: 10px; */
  /* margin-top: 3%; */
  margin-left: -7%;
  padding-top: 1% !important;
  padding: 10%;
  width: 121%;
}

#servicesStyle{
  float: right;
  margin-top: 8%;
  text-align: left;
}

#servicwesHover{
  background-color: black;
  font-family: Assistant-Light;
}

#hrHover, #contHover, #startHover, #enterpriseHover{
  display:none;
  position: absolute;
}

#aboutTitleOne{
 font-family: Assistant-Light;
  font-size: 1.2rem;
  padding-top: 1%;
}

#aboutTitleTwo{
 font-family: Lora-Regular;
  font-size: 3rem
}

#aboutLine{
  border-bottom-width: 0.5rem;
  border-bottom-color: white;
  border-bottom-style: solid;
  margin: 0 auto;
  width: 11%;
  padding: 0.5%;
  border-color:#26607a;
}

#aboutText{
  font-size: 1.1rem;
  font-family: none;
  padding-top: 1%;
  padding-top: 4%;
}

#aboutLineBot{
  border-bottom-width: 0.5rem;
  border-bottom-color: white;
  border-bottom-style: solid;
  width: 73%;
  margin: 0 auto;
  padding: 0.5%;
  border-color:#26607a;
}

#contactForm{
  background-image: url(../img/fondo_formulario.jpg);
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#formCenter{
    min-width: 20rem;
    margin: 0 auto;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 27rem;

}

#formFix{
}

#formAlign{
  width: 88%;
  border: solid;
  margin: 0 auto;
  border-color:#26607a;
}

#formConnect{
  font-size: 1.1rem;
  color:black;
  font-family: Assistant-Light;
  margin-top: 2%
}

#formEvaluate{
  font-size: 1.4rem;
  font-family: Lora-Regular;
  color: #26607a;
  padding: 10px;
}

#formText{
  font-size: 0.9rem;
  font-family: Assistant-Regular;
  color:black; 
}

input{
  width: 80%;
  padding: 1%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 0.8rem;
  font-family: Assistant-Regular;
  color: #7d7d7d;
}

::-moz-placeholder { /* Firefox 19+ */
   font-size: 0.8rem;
  font-family: Assistant-Regular;
  color: #7d7d7d;
}

:-ms-input-placeholder { /* IE 10+ */
   font-size: 0.8rem;
  font-family: Assistant-Regular;
  color: #7d7d7d;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 0.8rem;
  font-family: Assistant-Regular;
  color: #7d7d7d;
}

textarea {
  resize: none;
  width: 80%;
  padding: 2%;
}

#btnSubmitForm{
  font-size: 0.9rem;
  color: white;
  background-color: #26607a;
  font-family: Assistant-Bold;
  padding: 3%;
  border-style: none;
  width: 40%;
}

#footer{
  margin-top: 3%;
 font-family: Assistant-Light;
}

#footerNav{
  color;#686969;
}


#footerMenu{
  color:#686969;
}

#footerLine{
  border-bottom-width: 0.1rem;
  border-bottom-color: #686969;
  border-bottom-style: solid;
  /* margin: 0 auto; */
  width: 100%;
  padding: 1.5%;
  margin-bottom: 1%;
}

#footerLogo{
  margin-left: 21%;
}

#footerLogo{
  width: 50%;
}

#footerNavLine{
  border-bottom-color: white;
  border-bottom-style: solid;
  border-width: 1px;
  width: 24%;
}

#fbLogo{
  width: 0.8%;
}
/* copia */




/* media query */

@media screen and (max-width: 768px) {

  #hrHover, #contHover, #startHover, #enterpriseHover{
    display:none !important;
  }
}